* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  border-radius: 5px;
}

button {
  display: block;
  width: 200px;
  height: 50px;
  border: none;
  background: linear-gradient(to right, #E4E5E6, #00416A);
  box-shadow: 0px 0px 4px 1px #f1f1f1;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  transition: .3s linear;
}

button:hover {
  transform: rotateY(15deg);
  box-shadow: -15px 0 15px #525252;
  color: white;
  background: linear-gradient(to right, #E4E5E6, #00416A);
}

button:focus:hover {
  transform: rotateY(15deg);
  box-shadow: -15px 0 15px #525252;
  color: white;
  background: linear-gradient(to right, #E4E5E6, #00416A);
}

button:focus {
  color: white;
  background: linear-gradient(to right, #E4E5E6, #00416A);
  box-shadow: 0px 0px 4px 1px #f5f5f5;
}