* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  border-radius: 5px;
  font-family: 'Arial Narrow Bold', sans-serif;
}

.lesson-item {
  width: 110px;
  font-size: 20px;
  background-color: lightgray;
  border-radius: 5px;
  padding: 2px 10px;
  margin: 5px;
}

.lesson-item:hover {
  color: white;
  background-color: rgb(141, 141, 141);
  cursor: pointer;
}

.wrapper {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 1000px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.user-form {
  width: 475px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 80%;
  height: 30px;
  margin-top: 10px;
  outline: none;
  padding-left: 5px;
  font-size: 15px;
  box-shadow: -2px 1px 9px 3px #949494;
  transition: all 0.2s ease-in-out;
}

input[type="button"],
input[type="submit"] {
  transition: all 0.2s ease-in-out;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="button"]:hover,
input[type="submit"]:hover {
  transform: translateY(-3px);
  box-shadow: -8px 8px 9px 3px #949494;
}

input[type="button"],
input[type="submit"] {
  width: 80%;
  height: 40px;
  background-color: rgb(63, 134, 201);
  color: white;
  cursor: pointer;
  margin-top: 50px;
}

input::placeholder {
  color: lightgray;
}

.password,
.email,
.submit {
  margin-top: 20px;
}

table {
  width: 475px;
  height: 100px;
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
}

tr {
  border-bottom: 2px solid lightgray;
  height: 50px;
}

td {
  text-align: center;
}

.table-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty {
  font-size: 30px;
}

#edit-user {
  background-color: rgb(228, 146, 39);
}

#delete-user,
#edit {
  width: 50px;
  height: 30px;
  color: white;
  background-color: rgb(228, 39, 39);
}

#edit {
  background-color: rgb(235, 142, 36);
}

#edit:hover {
  background-color: rgb(209, 123, 9);
}

#delete-user:hover {
  background-color: rgb(179, 0, 0);
}