<div class="wrapper">

  <a [routerLink]="[ '/' ]" routerLinkActive="active">
    <button class="lesson-item">Close</button>
  </a>
  <p class="lesson-title">Angular list of previous task</p>
  <div class="wraper-container">
    <div class="inner-container">
      <div class="blok-1">
        <img src="../../../assets/images/1.jpg" alt="img">
      </div>
      <div class="blok-2">
        Angular list of prohibited words
      </div>
      <div>
        <a [routerLink]="[ '/works/cenzor' ]" routerLinkActive="active">
          <button id="details">Details</button>
        </a>
      </div>
    </div>
    <div class="inner-container">
      <div class="blok-1">
        <img src="../../../assets/images/2.jpg" alt="img">
      </div>
      <div class="blok-2">
        Angular user list
      </div>
      <a [routerLink]="[ '/works/userlist' ]" routerLinkActive="active">
        <button id="details">Details</button>
      </a>
    </div>
    <div class="inner-container">
      <div class="blok-1">
        <img src="../../../assets/images/3.jpg" alt="img">
      </div>
      <div class="blok-2">
        Angular task list
      </div>
      <a [routerLink]="[ '/works/tasklist' ]" routerLinkActive="active">
        <button id="details">Details</button>
      </a>
    </div>
  </div>

</div>